<ul class="navbar-nav calendar visible-lg">
    <li class="cal-button cal-button-left " ng-click="calendarCtrl.scrollLeft()">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </li>
    <li ng-repeat="date in calendarCtrl.dates" 
        class="calendar-link"
        ng-class="{'active': calendarCtrl.isCurrent(date)}">
        <a ng-href="/budget/{{calendarCtrl.userId}}/{{date.getFullYear()}}/{{date.getMonth() + 1}}">
            <h3>{{calendarCtrl.monthString(date)}}</h3>
            {{date.getFullYear()}}
        </a>
    </li>
    <li class="cal-button cal-button-right glyphicon " ng-click="calendarCtrl.scrollRight()">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </li>
</ul>