<div class="well">
    <h2>Recurring Expenses</h2>
    <div ng-repeat="item in recurringCtrl.items" >
        <div class="form-group row input-row">
            <div class="input-group-sm floating-buttons hidden-xs">
                <span ng-click="recurringCtrl.moveUp($index)"
                      class="input-group-addon glyphicon glyphicon-arrow-up"></span>
                <span ng-click="recurringCtrl.moveDown($index)"
                      class="input-group-addon glyphicon glyphicon-arrow-down"></span>
            </div>
            <div class="tongue"></div>
            <div class="col-xs-5 input-group">
                <span ng-click="recurringCtrl.delete($index)"
                      class="input-group-addon glyphicon glyphicon-trash"></span>
                <input type="text" class="form-control" ng-model="item.name"/>
            </div>
            <div class="col-xs-3">
                <select class="form-control"
                        ng-model="item.freqId"
                        ng-options="f.id as f.name for f in item.frequencies"></select>
            </div>

            <div class="col-xs-4 input-group">
                <span class="input-group-addon">$</span>
                <input type="number" class="form-control" ng-model="item.amount"/>
            </div>
        </div>
    </div>
    <div class="row">
        <button class="btn btn-default btn-md" ng-click="recurringCtrl.add()">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>
    <div class="row">
        <h3>Total</h3>
        {{recurringCtrl.total() | currency}}
    </div>
</div>