<div class="well">
    <h2>Recurring Expenses</h2>
    <div ng-repeat="item in recurringCtrl.items">
        <div class="form-group row">
            <div class="col-xs-8">
                <input type="text" class="form-control" ng-model="item.name"/>
            </div>
            <div class="col-xs-4 input-group">
                <span class="input-group-addon">$</span>
                <input type="number" class="form-control" ng-model="item.amount"/>
            </div>
        </div>
    </div>
    <div class="row">
        <h3>Total</h3>
        {{recurringCtrl.total() | currency}}
    </div>
</div>