<div class="well">
    <h3 class="total-heading">Total</h3>
    <div class="totals">
        <div>
            <span>Income: </span><span class="positive-money">{{totalsCtrl.totals.incomes | currency}}</span>
        </div>
        <div>
            <span>Budgeted Expenses: </span><span class="negative-money">{{totalsCtrl.budgeted() | currency}}</span>
        </div>
        <div>
            <span>Irregular Expenses: </span> <span class="negative-money">{{totalsCtrl.totals.irregulars | currency}}</span>
        </div>
        <hr/>
        <div>
            <span>Grand Total: </span><span >{{totalsCtrl.grandTotal() | currency}}</span>
        </div>
    </div>
    <div style="clear: both;"></div>
</div>
