
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.money-green {
    background-color: #006400;
}

.header-icon {
    color: #ccc ;
    font-size: 40pt;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #006400; 
}


.calendar li {
    display: inline-block;
}


.calendar {
    display: inline-block;
    text-align: center;
    width: 950px;
    padding-left: 6%
}


.calendar-link {
    width: 65px;
    display: inline-block;
    padding: 1px;
    border-width: 0 3px 6px 3px;
    border-style: solid;
    border-color: #ccc;
    color: #ccc;
}

.calendar-link h3 {
    padding: 4px;
    margin: 4px;
}

.calendar-link a {
    color: #ccc;
}

.dropdown.open {
    color: #006400;
    background-color: #ccc;
}


.calendar-link.active {
    background-color: #ccc;
}

.calendar-link.active a {
    color: #006400;
}

.cal-button {
    width: 30px;
    height: 60px;
    color: #ccc;
    margin-top: 10px;
    font-size: 40px;
    margin-right: 20px;
}

.cal-button:hover {
    color: #ccc;
}

.nav-main-list {
    width: 100%;
}

.input-row {
    position: relative;
}

.input-row:hover .floating-buttons {
    visibility: visible;
}

.tongue {
    position: absolute;
    left: -120px;
    width: 150px;
    height: 40px;
    background-color: #000;
    opacity: 0;
}


.floating-buttons {
    visibility: hidden;
    position: absolute;
    left: -80px;
    top: 2px;
    width: 20px;
    z-index: 99
}

.input-row .floating-buttons span:hover, .input-row .glyphicon-trash:hover {
    background-color: #ccc;
}

.totals {
    float: right;
}

.total-heading {
    float: left;
}

.positive-money {
    color: #006400;
}

.negative-money {
    color: red;
}

.dollar-container {
    position: relative;
    min-height: 300px;
}

.dollar-container span {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #006400;
    position: absolute;
}



.dollar-1 {
    top: -170px;
    left: 20px;
    font-size: 40em;
    position: absolute;
    transform: rotate(-30deg);
}

.dollar-2 {
    top: -150px;
    left: 190px;
    font-size: 35em;
    transform: rotate(-10deg);
}


.dollar-3 {
    top: -110px;
    left: 340px;
    font-size: 30em;
    transform: rotate(5deg);
}

.dollar-4 {
    top: -50px;
    left: 450px;
    font-size: 25em;
    transform: rotate(20deg);
}