
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;0
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.money-green {
    background-color: #006400;
}

.header-icon span {
    color: #aaa ;
    font-size: 40pt;
}

.nav li {
    display: inline-block;
}


.calendar {
    display: inline-block;
    text-align: center;
    width: 900px;
}


.calendar-link {
    margin-top: 20px;
    width: 60px;
    display: inline-block;
    padding: 1px;
    border-width: 0 3px 6px 3px;
    border-style: solid;
    border-color: #aaa;
    color: #aaa;
}

.calendar-link h3 {
    padding: 4px;
    margin: 4px;
}
.calendar-link.active {
    color: #006400;
    background-color: #aaa;
}

.cal-button {
    width: 30px;
    height: 50px;
    color: #ccc;
    margin-top: 30px;
    font-size: 40px;
    margin-right: 20px;
}

.cal-button:hover {
    color: #aaa;
}

.nav-main-list {
    width: 100%;
}

.input-row {
    position: relative;
}

.input-row:hover .floating-buttons {
    visibility: visible;
}

.tongue {
    position: absolute;
    left: -120px;
    width: 150px;
    height: 40px;
    background-color: #000;
    opacity: 0;
}


.floating-buttons {
    visibility: hidden;
    position: absolute;
    left: -80px;
    top: 2px;
    width: 20px;
    z-index: 99
}

.input-row .floating-buttons span:hover, .input-row .glyphicon-trash:hover {
    background-color: #aaa;
}

.totals {
    float: right;
}

.total-heading {
    float: left;
}

.positive-money {
    color: #006400;
}

.negative-money {
    color: red;
}
