
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.money-green {
    background-color: #006400;
}

.header-icon span {
    color: #aaa ;
    font-size: 40pt;
}

.nav li {
    display: inline-block;
}


.calendar {
    display: inline-block;
    width: 900px;
}

.calendar > ul {
    
}

.calendar-link {
    max-width: 7.5%;
    display: inline-block;
    padding: 1px;
    border-width: 0 3px 6px 3px;
    border-style: solid;
    border-color: #aaa;
}

.nav-main-list {
    width: 100%;
}
