@model Boojet.Models.BudgetVM

@section scripts{
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div ng-app="boojet">
    <nav class="money-green navbar navbar-static-top">
        <div class="container">
                <ul class="nav navbar-nav navbar-left">
                    <li id="calendar" class="header-icon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </li>
                </ul>
                <calendar></calendar>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown header-icon">
                        <span class="glyphicon glyphicon-cog dropdown-toggle" data-toggle="dropdown"></span>
                        <ul class="dropdown-menu">
                            <li><a href="#">Notes</a></li>
                            <li><a href="#">Graphs</a></li>
                            <li><a href="#">Copy From Month</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Profile</a></li>
                            <li><a href="@Url.Action("Index", "Home")">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
    </nav>
    <div class="container" ng-controller="FinanceController as financeCtrl">
        <div class="row">
            <div class="col-md-6">
                <recurring-expenses sum="financeCtrl.totalRegulars"></recurring-expenses>
                <incomes sum="financeCtrl.totalIncomes" ></incomes>
            </div>
            <div class="col-md-6">
                    <budgets sum="financeCtrl.totalBudgets"></budgets>
                    <irregulars sum="financeCtrl.totalIrregulars"></irregulars>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <totals totals="financeCtrl.getTotals()"></totals>
            </div>
        </div>
    </div>
</div>
</body>
</html>