@model Boojet.Models.BudgetVM

@section scripts{
    <script src="~/Scripts/Models/CalDate.js"></script>
    <script src="~/Scripts/Controllers/app.js"></script>
    <script src="~/Scripts/Controllers/calendarController.js"></script>
    <script src="~/Scripts/Controllers/RecurringController.js"></script>
    <script src="~/Scripts/Directives/Calendar.js"></script>
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div ng-app="boojet">
    <nav class="money-green navbar navbar-default navbar-static-top">
        <div class="container">
            <ul class="nav navbar-nav nav-main-list">
                <li id="calendar" class="header-icon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </li>
                <li>
                    <calendar year="2017" month="2"></calendar>
                </li>
                <ul class="navbar-nav navbar-right">
                    <li id="settings" class="header-icon">
                        <span class="glyphicon glyphicon-cog"></span>
                    </li>
                </ul>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="well" ng-controller="RecurringController as recurring">
                    <h2>Recurring Expenses</h2>
                    <div ng-repeat="item in recurring.items">
                        <div class="form-group row">
                            <div class="col-xs-8">
                                <input type="text" class="form-control" ng-model="item.name"/>
                            </div>
                            <div class="col-xs-4 input-group">
                                <span class="input-group-addon">$</span>
                                <input type="number" class="form-control" ng-model="item.amount"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h3>Total</h3>
                        {{recurring.total() | currency}}
                    </div>
                </div>
                <div class="well" ng-controller="IncomeController as income">
                    <h2>Income</h2>
                    <div ng-repeat="source in income.sources">
                        <div class="form-group row">
                            <div class="col-xs-4">
                                <input type="text" class="form-control" ng-model="source.name"/>
                            </div>
                            <div class="col-xs-4">
                                <select class="form-control">
                                    <option ng-repeat="freq in income.frequencies" value="freq.id">{{freq.name}}</option>
                                </select>
                            </div>
                            <div class="col-xs-4 input-group">
                                <span class="input-group-addon">$</span>
                                <input type="number" class="form-control" ng-model="source.amount"/>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="well" ng-controller="IncomeController as income">
                    stuff
                </div>
                <div class="well">
                    more stuff
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    even more stuff
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>