@model Boojet.Models.BudgetVM

@section scripts{
    <script src="~/Scripts/Models/CalDate.js"></script>
    <script src="~/Scripts/Models/recurringItem.js"></script>
    <script src="~/Scripts/Controllers/app.js"></script>
    <script src="~/Scripts/Controllers/calendarController.js"></script>
    <script src="~/Scripts/Controllers/IrregularsController.js"></script>
    <script src="~/Scripts/Controllers/RecurringController.js"></script>
    <script src="~/Scripts/Directives/Calendar.js"></script>
    <script src="~/Scripts/Directives/RecurringExpenses.js"></script>
    <script src="~/Scripts/Directives/Irregulars.js"></script>
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div ng-app="boojet">
    <nav class="money-green navbar navbar-default navbar-static-top">
        <div class="container">
            <ul class="nav navbar-nav nav-main-list">
                <ul class="navbar-nav navbar-left">
                    <li id="calendar" class="header-icon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </li>
                </ul>
                <calendar year="2017" month="2"></calendar>
                <ul class="navbar-nav navbar-right">
                    <li id="settings" class="header-icon">
                        <span class="glyphicon glyphicon-cog"></span>
                    </li>
                </ul>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <recurring-expenses ></recurring-expenses>
                <div class="well" ng-controller="IncomeController as income">
                    <h2>Income</h2>
                    <div ng-repeat="source in income.sources">
                        <div class="form-group row">
                            <div class="col-xs-4">
                                <input type="text" class="form-control" ng-model="source.name"/>
                            </div>
                            <div class="col-xs-4">
                                <select class="form-control"
                                        ng-model="source.freqId"
                                        ng-options="f.id as f.name for f in source.frequencies">
                                </select>
                            </div>
                            <div class="col-xs-4 input-group">
                                <span class="input-group-addon">$</span>
                                <input type="number" class="form-control" ng-model="source.amount"/>
                            </div>
                        </div>
                    </div>
                    <div>
                        <span>Total: {{income.total() | currency}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="well">
                    <budgets></budgets>
                </div>
                    <irregulars></irregulars>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    even more stuff
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>