@model Boojet.Models.BudgetVM

@section scripts{
    <script src="~/Scripts/ngControllers/app.js"></script>
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div ng-app="boojet">
    <nav class="money-green navbar navbar-default navbar-static-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li id="calendar" class="header-icon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </li>
                <li id="month-nav">

                </li>
                <li id="settings" class="header-icon nav navbar-right">
                    <span class="glyphicon glyphicon-cog"></span>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="well" ng-controller="RecurringController as recurring">
                    <h2>Recurring Expenses</h2>
                    <div ng-repeat="item in recurring.items">
                        <div class="form-group row">
                            <div class="col-xs-8">
                                <input type="text" class="form-control" value="{{item.Name}}"/>
                            </div>
                            <div class="col-xs-4 input-group">
                                <span class="input-group-addon">$</span>
                                <input type="text" class="form-control" value="{{item.Amount}}"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="well">
                    more stuff
                </div>
            </div>
            <div class="col-md-6">
                <div class="well">
                    stuff
                </div>
                <div class="well">
                    more stuff
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    even more stuff
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>